@mixin font400 {
    font-family: "Roboto";
    font-weight: 400;
}
@mixin font500 {
    font-family: "Roboto";
    font-weight: 500;
}
@mixin font700 {
    font-family: "Roboto";
    font-weight: 700;
}
@mixin header__title {
    @include font400;
    color: $textWhite;
    font-size: 72px;
    line-height: 86px;
}
@mixin title-blocks {
    @include font400;
    font-size: 34px;
    line-height: 42px;
}
@mixin subtitle-blocs {
    @include font400;
    font-size: 28px;
    line-height: 39px;
}
@mixin title24px {
    @include font400;
    font-size: 24px;
    line-height: 34px;
}
@mixin subtitle16px {
    @include font400;
    font-size: 16px;
    line-height: 20px;
}
@mixin subtitle20px {
    @include font400;
    font-size: 20px;
    line-height: 25px;
}
@mixin title-section {
    @include font400;
    font-size: 48px;
    line-height: 67px;
}
@mixin subtitleText {
    @include font400;
    font-size: 20px;
    line-height: 25px;
}
@mixin textProduct {
    @include font400;
    font-size: 16px;
    line-height: 16px;
}