.section-events {
    background: $colorCream;
}
.events {
    padding: 91px 64px 64px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.event {
    display: grid;
    grid-template-columns: 51px 228px 51px;
    width: 330px;
    gap: 33px 0;
    position: relative;
    &__title {
        @include title24px;
        color: $textBlack;
        margin: 0;
        padding: 0 0 31px 0;
        border-bottom: 1px solid $textBlack;
        grid-column: 1 / 4;
        grid-row: 1;
    }
    &__date {
        width: 42px;
        @include subtitle16px;
        color: $textBlack;
        grid-column: 1 / 2;
        grid-row: 2;
    }
    &__subtitle {
        @include subtitle16px;
        color: $textBlack;
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 2;
    }
    &__link {
        grid-column: 3 / 4;
        grid-row: 2 ;
        overflow: hidden;
        width: 50px;
            svg {
                fill: #000000;
                transition: all 0.7s;
            }
            &:hover svg {
                transform: translateX(-60%);
                fill: $colorGreen;
            }
    }
    &__place {
        @include subtitle16px;
        color: $textBlack;
        padding: 31px 0 0 0;
        margin: 0;
        grid-row: 3;
        grid-column: 1 / 4;
        border-top: 1px solid $textBlack;
        text-align: center;
    }
}